x64/
Debug/
Release/
build/
bin/
*.exe
*.lib
*.dll
*.pdb
*.obj
*.ilk
*.exp
*.iobj
*.ipdb

.vs/
*.user
*.suo
*.opensdf
*.sdf
*.cache
*.db
*.opdb

# --- CMake 生成文件 ---
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
install_manifest.txt

*.nvvp
*.qdrep
*.csv
*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin

*.launch
.settings/
.project
.cproject
.classpath

.DS_Store
Thumbs.db